.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon path {
  fill: transparent;
  stroke: var(--text);
  transition: fill 0.3s ease;
}

.liked {
  color: #ABD27A;
}

.liked .icon path {
  fill: currentcolor;
  stroke: currentcolor;
}