.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon path {
  fill: transparent;
}

.liked {
  color: var(--accent);
}

.liked .icon path {
  fill: currentcolor;
}